@media screen and (max-width: 1600px) {
  #projects{
    height: auto;
  }
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  #about-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    margin: 0 0 0 5rem;
  }
  .title{
    margin-bottom: 1rem;
  }

  #skills{
    height: auto;
  }
  #about{
    height: auto;
  }
  #projects{
    height: auto;
  }
  #contact{
    height: auto;
  }
  #profile{
    height: auto;
  }

  #skills,
  .skill-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container .pro_pic {
    width: 275px;
    height: 310px;
    margin: 0 auto 2rem;
  }
  .about-pic {
    width: 275px;
    height: 310px;
    margin: 0 auto 2rem ;
  }

  .about-container {
    margin-top: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #desktop-nav {
    display: none;
  }
  #contact {
    height: 45vh;
  }
  footer {
    height: 20vh;
  }
  #profile {
    height: 105vh;
    margin-bottom: 0;
  }
  #about{
    height: auto;
  }
  #skills{
    height: auto;
  }
  #projects{
    height: auto;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-container,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p
  {
    font-size: 0.8rem;
  }

  .icon_con, .icon_mail{
    width: 30px;
    height: 30px;
  }

  .about-pic {
    width: 275px;
    height: 310px;
    margin: 0 auto 2rem ;
  }

  .skill-sub-title{
    font-size: 1.25rem;
  }
  .logo{
    font-size: 1.5rem;
  }
  .nav-links{
    flex-direction: column;
    gap: 0.5;
    text-align: center;
  }
  .section_pic-container .pro_pic{
    width: auto;
    height: 46vh;
    justify-content: center;
  }

  .sectio_text_p2{
    font-size: 1rem;
  }
  .title{
    font-size: 2rem;
  }
  .text-container{
    text-align: justify;
  }
  footer p{
    font-size: 0.8rem;    
  }
  
}
